{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/fav/fav.ico" type="image">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <!-- Включаем header из отдельного файла -->
    {% include "includes/header.html" %}

    <!-- Блок контента, который будет изменяться в зависимости от страницы -->
    <main class="pt-5 my-5">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <!-- Включаем footer из отдельного файла -->
    {% include "includes/footer.html" %}
  </body>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</html>
